.p-Home.Flex58 {
display: flex;
height: 68px;
justify-content: space-between;
}
.p-Home.Flex59 {
display: flex;
margin-right: 120px;
margin-bottom: 1px;
}
.p-Home.Flex60 {
display: flex;
padding-top: 70px;
}
.p-Home.Flex61 {
display: flex;
flex-direction: column;
padding-top: 70px;
padding-bottom: 20px;
align-items: center;
justify-content: flex-start;
}
.p-Home.Flex63 {
display: flex;
margin-right: 150px;
align-items: stretch;
justify-content: center;
}
.p-Home.Flex62 {
display: flex;
padding-top: ;
}
.p-Home.Flex67 {
display: flex;
flex-direction: column;
}
.p-Home.Flex68 {
display: flex;
align-items: center;
justify-content: center;
}
.p-Home.Flex69 {
display: flex;
justify-content: center;
margin-left: 120px;
margin-right: 120px;
padding-top: 15px;
}
.p-Home.Flex71 {
display: flex;
justify-content: center;
margin-top: 10px;
}
.p-Home.Flex73 {
display: flex;
justify-content: center;
}
.p-Home.Flex72 {
display: flex;
justify-content: center;
}
.p-Home.Flex75 {
display: flex;
justify-content: center;
}
.p-Home.Flex102 {
display: flex;
justify-content: center;
}
.p-Home.Flex106 {
display: flex;
}
.p-Home.Flex103 {
display: flex;
justify-content: center;
padding-top: 20px;
}
.p-Home.Flex105 {
display: flex;
justify-content: center;
row-gap: 10px;
column-gap: 60px;
padding-top: 70px;
}
.p-Home.Flex107 {
display: flex;
flex-direction: column;
}
.p-Home.Flex114 {
display: flex;
flex-direction: column;
}
.p-Home.Flex115 {
display: flex;
flex-direction: column;
}
.p-Home.Flex122 {
display: flex;
justify-content: flex-end;
row-gap: 10px;
column-gap: 60px;
padding-top: 70px;
align-items: flex-end;
}
.p-Home.Flex141 {
display: flex;
justify-content: flex-end;
align-items: flex-end;
}
.p-Home.Flex123 {
display: flex;
justify-content: flex-start;
row-gap: 10px;
column-gap: 60px;
padding-top: 70px;
}
.p-Home.Flex209 {
display: flex;
justify-content: space-around;
row-gap: 10px;
column-gap: 60px;
padding-top: 70px;
}
.p-Home.Flex208 {
display: flex;
flex-direction: column;
margin-left: 60px;
}
.p-Home.Flex119 {
display: flex;
justify-content: space-around;
row-gap: 10px;
column-gap: 60px;
padding-top: 70px;
}
.p-Home.Flex125 {
display: flex;
flex-direction: column;
}
.p-Home.Flex126 {
display: flex;
justify-content: center;
}
.p-Home.Flex127 {
display: flex;
justify-content: flex-end;
row-gap: ;
column-gap: ;
padding-top: ;
background-color: #000000;
align-items: flex-start;
height: 120px;
}
.p-Home.Flex143 {
display: flex;
width: 380px;
height: 100px;
background-color: #ffffff;
flex-direction: column;
margin-right: 20px;
}
.p-Home.Flex309 {
display: flex;
}
.p-Home.Flex311 {
display: flex;
width: 380px;
height: 100px;
background-color: #ffffff;
flex-direction: column;
margin-right: ;
}
.p-Home.Flex310 {
display: flex;
}
.p-Home.Flex313 {
display: flex;
width: 380px;
height: 100px;
background-color: #ffffff;
flex-direction: column;
margin-right: 20px;
}
.p-Home.Flex312 {
display: flex;
}
.p-Home.Flex128 {
display: flex;
justify-content: center;
row-gap: ;
column-gap: 20px;
padding-top: 70px;
}
.p-Home.Flex175 {
display: flex;
justify-content: center;
flex-direction: column;
}
.p-Home.Flex177 {
display: flex;
}
.p-Home.Flex184 {
display: flex;
flex-direction: column;
}
.p-Home.Flex185 {
display: flex;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #a2a2a3;
}
.p-Home.Flex191 {
display: flex;
}
.p-Home.Flex190 {
display: flex;
flex-direction: column;
}
.p-Home.Flex189 {
display: flex;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #a2a2a3;
}
.p-Home.Flex328 {
display: flex;
}
.p-Home.Flex174 {
display: flex;
justify-content: center;
}
.p-Home.Flex204 {
display: flex;
justify-content: center;
flex-direction: column;
}
.p-Home.Flex202 {
display: flex;
}
.p-Home.Flex200 {
display: flex;
flex-direction: column;
}
.p-Home.Flex198 {
display: flex;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #a2a2a3;
}
.p-Home.Flex203 {
display: flex;
}
.p-Home.Flex201 {
display: flex;
flex-direction: column;
}
.p-Home.Flex199 {
display: flex;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #a2a2a3;
}
.p-Home.Flex327 {
display: flex;
}
.p-Home.Flex140 {
display: flex;
justify-content: space-around;
row-gap: 10px;
column-gap: 60px;
padding-top: 70px;
}
.p-Home.Flex161 {
display: flex;
flex-direction: column;
margin-left: 60px;
}
.p-Home.Flex162 {
display: flex;
margin-right: 30px;
}
.p-Home.Flex146 {
display: flex;
justify-content: flex-end;
row-gap: 10px;
column-gap: 60px;
padding-top: ;
background-color: #000000;
margin-right: ;
}
.p-Home.Flex151 {
display: flex;
align-items: flex-start;
}
.p-Home.Flex147 {
display: flex;
justify-content: space-around;
row-gap: 10px;
column-gap: 60px;
padding-top: 70px;
background-color: #000000;
height: ;
padding-bottom: 40px;
margin-bottom: ;
}
.p-Home.Flex152 {
display: flex;
flex-direction: column;
align-items: flex-start;
}
.p-Home.Flex314 {
display: flex;
}
.p-Home.Flex153 {
display: flex;
flex-direction: column;
overflow: hidden;
}
.p-Home.Flex154 {
display: flex;
flex-direction: column;
padding-top: 10px;
padding-bottom: 10px;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #ffffff99;
}
.p-Home.Flex315 {
display: flex;
}
.p-Home.Flex317 {
display: flex;
flex-direction: column;
padding-top: 10px;
padding-bottom: 10px;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #ffffff99;
}
.p-Home.Flex316 {
display: flex;
}
.p-Home.Flex321 {
display: flex;
flex-direction: column;
padding-top: 10px;
padding-bottom: 10px;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #ffffff99;
}
.p-Home.Flex320 {
display: flex;
}
.p-Home.Flex325 {
display: flex;
flex-direction: column;
padding-top: 10px;
padding-bottom: 10px;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #ffffff99;
}
.p-Home.Flex324 {
display: flex;
}
.p-Home.Flex166 {
display: flex;
justify-content: center;
row-gap: 10px;
column-gap: 20px;
padding-top: 70px;
}
.p-Home.Flex172 {
display: flex;
column-gap: 5px;
flex-direction: column;
row-gap: 10px;
}
.p-Home.Flex173 {
display: flex;
justify-content: space-between;
row-gap: ;
column-gap: ;
padding-top: 70px;
}
.p-Home.Flex210 {
display: flex;
margin-left: 60px;
}
.p-Home.Flex211 {
display: flex;
flex-direction: column;
}
.p-Home.Flex218 {
display: flex;
justify-content: space-between;
margin-top: 50px;
margin-left: 30px;
margin-right: 60px;
}
.p-Home.Flex219 {
display: flex;
flex-direction: column;
}
.p-Home.Flex220 {
display: flex;
}
.p-Home.Flex221 {
display: flex;
align-items: center;
padding-left: ;
margin-left: ;
}
.p-Home.Flex214 {
display: flex;
justify-content: center;
row-gap: 10px;
column-gap: 60px;
padding-top: 70px;
background-color: #000000;
flex-direction: column;
}
.p-Home.Flex222 {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}
.p-Home.Flex215 {
display: flex;
justify-content: space-between;
row-gap: 10px;
column-gap: 20px;
padding-top: 70px;
align-items: flex-start;
background-color: #000000;
margin-left: ;
}
.p-Home.Flex225 {
display: flex;
flex-direction: column;
}
.p-Home.Flex235 {
display: flex;
justify-content: space-around;
padding-top: 20px;
padding-bottom: 20px;
padding-right: 10px;
padding-left: 10px;
margin-left: 30px;
margin-right: 100px;
}
.p-Home.Flex226 {
display: flex;
justify-content: space-around;
padding-top: 20px;
padding-bottom: 20px;
padding-right: 10px;
padding-left: 10px;
margin-left: 100px;
margin-right: 30px;
}
.p-Home.Flex260 {
display: flex;
justify-content: flex-start;
row-gap: 10px;
column-gap: 60px;
padding-top: 70px;
background-color: #010101;
margin-left: ;
flex-direction: column;
align-items: flex-start;
padding-left: ;
}
.p-Home.Flex262 {
display: flex;
justify-content: center;
row-gap: ;
column-gap: ;
padding-top: 70px;
background-color: #010101;
align-items: flex-start;
height: 200px;
margin-right: ;
}
.p-Home.Flex263 {
display: flex;
flex-direction: column;
margin-right: 340px;
}
.p-Home.Flex281 {
display: flex;
}
.p-Home.Flex282 {
display: flex;
}
.p-Home.Flex363 {
display: flex;
flex-direction: row;
margin-right: 60px;
}
.p-Home.Flex374 {
display: flex;
justify-content: space-between;
margin-top: 10px;
margin-bottom: 10px;
flex-direction: column;
}
.p-Home.Flex367 {
display: flex;
flex-direction: row;
}
.p-Home.Flex368 {
display: flex;
justify-content: space-between;
margin-top: 10px;
margin-bottom: 10px;
flex-direction: column;
}
.p-Home.Flex369 {
display: flex;
justify-content: space-between;
margin-top: 10px;
margin-bottom: 10px;
flex-direction: column;
}
.p-Home.Flex271 {
display: flex;
justify-content: space-between;
row-gap: 10px;
column-gap: 20px;
padding-top: ;
align-items: flex-start;
background-color: #000000;
margin-left: ;
}
.p-Home.Flex269 {
display: flex;
justify-content: space-around;
padding-top: 20px;
padding-bottom: 20px;
padding-right: 10px;
padding-left: 10px;
margin-left: 100px;
margin-right: 30px;
}
.p-Home.Flex270 {
display: flex;
flex-direction: column;
}
.p-Home.Flex268 {
display: flex;
justify-content: space-around;
padding-top: 20px;
padding-bottom: 20px;
padding-right: 10px;
padding-left: 10px;
margin-left: 30px;
margin-right: 100px;
}
.p-Home.Flex293 {
display: flex;
justify-content: space-between;
row-gap: 10px;
column-gap: 20px;
padding-top: ;
align-items: flex-start;
background-color: #000000;
margin-left: ;
}
.p-Home.Flex291 {
display: flex;
flex-direction: column;
}
.p-Home.Flex290 {
display: flex;
justify-content: space-around;
padding-top: 20px;
padding-bottom: 20px;
padding-right: 10px;
padding-left: 10px;
margin-left: 30px;
margin-right: 100px;
}
.p-Home.Flex292 {
display: flex;
justify-content: space-around;
padding-top: 20px;
padding-bottom: 20px;
padding-right: 10px;
padding-left: 10px;
margin-left: 100px;
margin-right: 30px;
}
.p-Home.Flex297 {
display: flex;
justify-content: space-between;
row-gap: 10px;
column-gap: 20px;
padding-top: ;
align-items: flex-start;
background-color: #000000;
margin-left: ;
}
.p-Home.Flex295 {
display: flex;
justify-content: space-around;
padding-top: 20px;
padding-bottom: 20px;
padding-right: 10px;
padding-left: 10px;
margin-left: 100px;
margin-right: 30px;
}
.p-Home.Flex296 {
display: flex;
flex-direction: column;
}
.p-Home.Flex294 {
display: flex;
justify-content: space-around;
padding-top: 20px;
padding-bottom: 20px;
padding-right: 10px;
padding-left: 10px;
margin-left: 30px;
margin-right: 100px;
}
.p-Home.Flex346 {
display: flex;
justify-content: center;
row-gap: ;
column-gap: 20px;
padding-top: 10px;
}
.p-Home.Flex344 {
display: flex;
justify-content: center;
}
.p-Home.Flex340 {
display: flex;
justify-content: center;
flex-direction: column;
}
.p-Home.Flex336 {
display: flex;
}
.p-Home.Flex331 {
display: flex;
flex-direction: column;
}
.p-Home.Flex329 {
display: flex;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #a2a2a3;
}
.p-Home.Flex345 {
display: flex;
justify-content: center;
flex-direction: column;
}
.p-Home.Flex343 {
display: flex;
}
.p-Home.Flex339 {
display: flex;
flex-direction: column;
}
.p-Home.Flex334 {
display: flex;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #a2a2a3;
}
.p-Home.Flex213 {
display: flex;
justify-content: center;
row-gap: 10px;
column-gap: 60px;
padding-top: 70px;
}
.p-Home.Flex239 {
display: flex;
justify-content: center;
row-gap: 10px;
column-gap: 60px;
padding-top: 70px;
background-color: #010101;
}
.p-Home.Image22 {
align-self: flex-end;
margin-left: 100px;
}
.p-Home.TextBox68 {
align-self: flex-end;
font-family: Montserrat;
font-weight: 600;
padding-right: 15px;
padding-left: 15px;
text-align: left;
margin-left: ;
margin-right: ;
}
.p-Home.Image23 {
align-self: flex-end;
margin-left: 5px;
margin-bottom: 2px;
}
.p-Home.TextBox69 {
align-self: flex-end;
font-family: Montserrat;
font-weight: 600;
}
.p-Home.TextBox70 {
align-self: flex-end;
font-family: Montserrat;
font-weight: 600;
padding-right: 15px;
padding-left: 15px;
text-align: left;
margin-left: 15px;
margin-right: 15px;
}
.p-Home.TextBox71 {
align-self: flex-end;
font-family: Montserrat;
font-weight: 600;
padding-right: 15px;
padding-left: 15px;
text-align: left;
margin-left: ;
margin-right: ;
}
.p-Home.TextBox72 {
align-self: flex-end;
font-family: Montserrat;
font-weight: 600;
padding-right: 15px;
padding-left: 15px;
text-align: left;
margin-left: ;
margin-right: ;
}
.p-Home.TextBox73 {
margin-left: 100px;
padding-top: ;
padding-bottom: ;
font-family: Montserrat;
font-weight: 600;
font-size: 66px;
align-self: center;
clear: none;
word-wrap: initial;
float: none;
width: 600px;
}
.p-Home.TextBox76 {
margin-left: 100px;
padding-top: ;
padding-bottom: 20px;
font-family: Montserrat;
font-weight: 600;
font-size: 66px;
align-self: center;
clear: none;
word-wrap: initial;
float: none;
width: 600px;
}
.p-Home.TextBox78 {
margin-left: 100px;
padding-top: ;
padding-bottom: 20px;
font-family: Montserrat;
font-weight: 600;
font-size: 21px;
align-self: center;
clear: none;
word-wrap: initial;
float: none;
width: 600px;
color: #a2a2a2;
}
.p-Home.Button14 {
color: #fff;
background-color: #000000;
padding-top: 10px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 500;
text-align: center;
border-width: ;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
width: 150px;
height: 50px;
margin-top: 10px;
border-bottom-width: 4px;
border-bottom-style: solid;
border-bottom-color: #066edb;
border-right-width: 4px;
border-right-style: solid;
font-family: Montserrat;
}
.p-Home.Button17 {
color: #020000;
background-color: #ffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 500;
text-align: center;
border-width: ;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
width: 150px;
height: 50px;
margin-top: 10px;
border-bottom-width: 4px;
border-bottom-style: none;
border-bottom-color: #066edb;
border-right-width: 4px;
border-right-style: none;
margin-left: 40px;
font-family: Montserrat;
}
.p-Home.Image25 {
padding-top: 10px;
}
.p-Home.Image24 {
padding-left: 30px;
padding-top: 20px;
margin-left: 15px;
}
.p-Home.TextBox79 {
align-self: center;
font-family: Montserrat;
font-size: 20px;
font-weight: 500;
}
.p-Home.Image26 {
width: 40%;
height: ;
align-self: center;
}
.p-Home.Image31 {
width: 40%;
height: ;
align-self: center;
}
.p-Home.Image30 {
width: 40%;
height: ;
align-self: center;
}
.p-Home.Image32 {
width: 40%;
height: ;
align-self: center;
}
.p-Home.TextBox89 {
font-family: Montserrat;
font-weight: 500;
padding-top: 80px;
font-size: 24px;
}
.p-Home.TextBox90 {
font-family: Open Sans;
font-weight: 700;
font-size: 54px;
text-align: center;
width: 880px;
}
.p-Home.Image45 {
padding-top: ;
width: 80px;
height: 80px;
}
.p-Home.TextBox91 {
font-size: 24px;
font-family: League Spartan;
font-weight: 700;
padding-top: 20px;
padding-bottom: 20px;
}
.p-Home.TextBox92 {
font-size: 20px;
font-family: League Spartan;
font-weight: 300;
width: 250px;
outline-color: #a2a2a2;
padding-top: 20px;
padding-bottom: 20px;
line-height: 25px;
}
.p-Home.TextBox93 {
font-size: 20px;
font-family: League Spartan;
font-weight: 700;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.TextBox95 {
font-size: 20px;
font-family: League Spartan;
font-weight: 700;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.TextBox96 {
font-size: 20px;
font-family: League Spartan;
font-weight: 700;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.TextBox97 {
font-size: 20px;
font-family: League Spartan;
font-weight: 700;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.TextBox98 {
font-size: 20px;
font-family: League Spartan;
font-weight: 700;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.TextBox99 {
font-size: 20px;
font-family: League Spartan;
font-weight: 700;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.TextBox100 {
font-size: 20px;
font-family: League Spartan;
font-weight: 300;
width: 250px;
outline-color: #a2a2a2;
padding-top: 20px;
padding-bottom: 20px;
line-height: 25px;
}
.p-Home.TextBox101 {
font-size: 24px;
font-family: League Spartan;
font-weight: 700;
padding-top: 20px;
padding-bottom: 20px;
}
.p-Home.Image46 {
padding-top: ;
width: 80px;
height: 80px;
}
.p-Home.Image47 {
padding-top: ;
width: 80px;
height: 80px;
}
.p-Home.TextBox102 {
font-size: 24px;
font-family: League Spartan;
font-weight: 700;
padding-top: 20px;
padding-bottom: 20px;
}
.p-Home.TextBox103 {
font-size: 20px;
font-family: League Spartan;
font-weight: 300;
width: 250px;
outline-color: #a2a2a2;
padding-top: 20px;
padding-bottom: 20px;
line-height: 25px;
}
.p-Home.TextBox104 {
font-size: 20px;
font-family: League Spartan;
font-weight: 700;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.TextBox105 {
font-size: 20px;
font-family: League Spartan;
font-weight: 700;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.TextBox106 {
font-size: 20px;
font-family: League Spartan;
font-weight: 700;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.Image55 {
padding-bottom: 10px;
width: 380px;
height: 250px;
margin-right: 20px;
}
.p-Home.Image56 {
padding-bottom: 10px;
width: 380px;
height: 250px;
margin-right: 20px;
}
.p-Home.Image58 {
padding-bottom: 10px;
width: 380px;
height: 250px;
}
.p-Home.TextBox238 {
bottom: 0;
margin-left: 60px;
font-family: Open Sans;
font-weight: 700;
font-size: 40px;
padding-top: 10px;
width: ;
text-align: left;
word-wrap: break-word;
}
.p-Home.TextBox239 {
bottom: 0;
margin-left: 60px;
font-family: Montserrat;
font-weight: 600;
font-size: 19px;
width: 280px;
}
.p-Home.TextBox125 {
bottom: 0;
margin-left: 30px;
font-family: Montserrat;
font-weight: 600;
font-size: 24px;
}
.p-Home.TextBox126 {
bottom: 0;
margin-left: 30px;
font-family: Open Sans;
font-weight: 700;
font-size: 33px;
padding-top: 10px;
width: ;
text-align: left;
word-wrap: break-word;
}
.p-Home.TextBox127 {
bottom: 0;
margin-left: 30px;
font-family: Open Sans;
font-weight: 700;
font-size: 33px;
padding-top: ;
width: ;
text-align: left;
word-wrap: break-word;
}
.p-Home.Button18 {
color: #fff;
background-color: #070707;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 24px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
align-self: center;
width: ;
font-family: Montserrat;
margin-right: 60px;
}
.p-Home.TextBox135 {
bottom: 0;
margin-left: 30px;
font-family: Open Sans;
font-weight: 700;
font-size: ;
padding-bottom: 5px;
}
.p-Home.TextBox331 {
bottom: 0;
margin-left: 30px;
font-family: Open Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.TextBox333 {
bottom: 0;
margin-left: 30px;
font-family: Montserrat;
font-weight: 500;
font-size: ;
padding-top: 10px;
}
.p-Home.Image69 {
padding-top: 12px;
padding-left: 5px;
margin-left: 5px;
}
.p-Home.TextBox335 {
bottom: 0;
margin-left: 30px;
font-family: Open Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.TextBox336 {
bottom: 0;
margin-left: 30px;
font-family: Open Sans;
font-weight: 700;
font-size: ;
padding-bottom: 5px;
}
.p-Home.Image70 {
padding-top: 12px;
padding-left: 5px;
margin-left: 5px;
}
.p-Home.TextBox334 {
bottom: 0;
margin-left: 30px;
font-family: Montserrat;
font-weight: 500;
font-size: ;
padding-top: 10px;
}
.p-Home.TextBox338 {
bottom: 0;
margin-left: 30px;
font-family: Open Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.TextBox339 {
bottom: 0;
margin-left: 30px;
font-family: Open Sans;
font-weight: 700;
font-size: ;
padding-bottom: 5px;
}
.p-Home.Image71 {
padding-top: 12px;
padding-left: 5px;
margin-left: 5px;
}
.p-Home.TextBox337 {
bottom: 0;
margin-left: 30px;
font-family: Montserrat;
font-weight: 500;
font-size: ;
padding-top: 10px;
}
.p-Home.TextBox209 {
bottom: 0;
margin-left: 30px;
font-family: Montserrat;
font-weight: 500;
font-size: 24px;
padding-top: 10px;
}
.p-Home.TextBox210 {
bottom: 0;
margin-left: 30px;
font-family: Montserrat;
font-weight: 500;
font-size: 18px;
padding-top: 10px;
color: #a2a2a3;
}
.p-Home.TextBox211 {
bottom: 0;
margin-left: 30px;
font-family: Montserrat;
font-weight: 500;
font-size: 18px;
padding-top: 10px;
color: #a2a2a3;
}
.p-Home.TextBox217 {
bottom: 0;
margin-left: 30px;
font-family: Montserrat;
font-weight: 500;
font-size: 24px;
padding-top: 10px;
}
.p-Home.TextBox215 {
bottom: 0;
margin-left: 30px;
font-family: Montserrat;
font-weight: 500;
font-size: 18px;
padding-top: 10px;
color: #a2a2a3;
}
.p-Home.TextBox216 {
bottom: 0;
margin-left: 30px;
font-family: Montserrat;
font-weight: 500;
font-size: 18px;
padding-top: 10px;
color: #a2a2a3;
}
.p-Home.TextBox363 {
bottom: 0;
margin-left: ;
font-family: Open Sans;
font-weight: 700;
font-size: 40px;
padding-top: 10px;
width: ;
text-align: left;
word-wrap: break-word;
}
.p-Home.Image80 {
width: 45px;
height: 50px;
align-self: center;
}
.p-Home.TextBox231 {
bottom: 0;
margin-left: 30px;
font-family: Montserrat;
font-weight: 500;
font-size: 24px;
padding-top: 10px;
}
.p-Home.TextBox228 {
bottom: 0;
margin-left: 30px;
font-family: Montserrat;
font-weight: 500;
font-size: 18px;
padding-top: 10px;
color: #a2a2a3;
}
.p-Home.TextBox227 {
bottom: 0;
margin-left: 30px;
font-family: Montserrat;
font-weight: 500;
font-size: 18px;
padding-top: 10px;
color: #a2a2a3;
}
.p-Home.TextBox232 {
bottom: 0;
margin-left: 30px;
font-family: Montserrat;
font-weight: 500;
font-size: 24px;
padding-top: 10px;
}
.p-Home.TextBox229 {
bottom: 0;
margin-left: 30px;
font-family: Montserrat;
font-weight: 500;
font-size: 18px;
padding-top: 10px;
color: #a2a2a3;
}
.p-Home.TextBox230 {
bottom: 0;
margin-left: 30px;
font-family: Montserrat;
font-weight: 500;
font-size: 18px;
padding-top: 10px;
color: #a2a2a3;
}
.p-Home.Image79 {
width: 50px;
height: 50px;
align-self: center;
}
.p-Home.TextBox362 {
bottom: 0;
margin-left: ;
font-family: Open Sans;
font-weight: 700;
font-size: 40px;
padding-top: 10px;
width: ;
text-align: left;
word-wrap: break-word;
}
.p-Home.TextBox188 {
bottom: 0;
margin-left: 60px;
font-family: Montserrat;
font-weight: 600;
font-size: 19px;
width: 280px;
}
.p-Home.TextBox189 {
bottom: 0;
margin-left: 60px;
font-family: Open Sans;
font-weight: 700;
font-size: 40px;
padding-top: 10px;
width: ;
text-align: left;
word-wrap: break-word;
}
.p-Home.TextBox190 {
bottom: 0;
margin-left: 90px;
font-family: Montserrat;
font-weight: 300;
font-size: 22px;
width: ;
margin-right: 120px;
}
.p-Home.TextBox142 {
color: #000000;
background-color: #ffffff;
font-family: Open Sans;
text-align: center;
font-size: ;
width: 20px;
height: ;
margin-right: 30px;
font-weight: 700;
}
.p-Home.TextBox143 {
color: #000000;
background-color: #ffffff;
font-family: Open Sans;
text-align: center;
font-size: ;
width: 20px;
height: ;
margin-right: 30px;
font-weight: 700;
}
.p-Home.TextBox145 {
bottom: 0;
margin-left: ;
font-family: Montserrat;
font-weight: 600;
font-size: 28px;
color: #ffffff;
}
.p-Home.TextBox146 {
bottom: 0;
margin-left: ;
font-family: Montserrat;
font-weight: 600;
font-size: 42px;
color: #ffffff;
padding-top: 10px;
}
.p-Home.TextBox341 {
bottom: 0;
margin-left: ;
font-family: Montserrat;
font-weight: 300;
font-size: 16px;
color: #ffffff;
padding-top: 10px;
}
.p-Home.Image72 {
padding-top: 10px;
padding-left: 5px;
margin-left: 5px;
}
.p-Home.TextBox168 {
bottom: 0;
margin-left: ;
font-family: Montserrat;
font-weight: 600;
font-size: 12px;
color: #a2a2a2;
}
.p-Home.TextBox171 {
bottom: 0;
margin-left: ;
font-family: Montserrat;
font-weight: 600;
font-size: 20px;
color: #ffffff;
width: 350px;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.TextBox343 {
bottom: 0;
margin-left: ;
font-family: Montserrat;
font-weight: 600;
font-size: 12px;
color: #ffffff;
}
.p-Home.Image73 {
padding-top: ;
padding-left: 5px;
margin-left: 5px;
}
.p-Home.TextBox345 {
bottom: 0;
margin-left: ;
font-family: Montserrat;
font-weight: 600;
font-size: 20px;
color: #ffffff;
width: 350px;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.TextBox346 {
bottom: 0;
margin-left: ;
font-family: Montserrat;
font-weight: 600;
font-size: 12px;
color: #a2a2a2;
}
.p-Home.Image74 {
padding-top: ;
padding-left: 5px;
margin-left: 5px;
}
.p-Home.TextBox344 {
bottom: 0;
margin-left: ;
font-family: Montserrat;
font-weight: 600;
font-size: 12px;
color: #ffffff;
}
.p-Home.TextBox351 {
bottom: 0;
margin-left: ;
font-family: Montserrat;
font-weight: 600;
font-size: 20px;
color: #ffffff;
width: 350px;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.TextBox352 {
bottom: 0;
margin-left: ;
font-family: Montserrat;
font-weight: 600;
font-size: 12px;
color: #a2a2a2;
}
.p-Home.Image76 {
padding-top: ;
padding-left: 5px;
margin-left: 5px;
}
.p-Home.TextBox350 {
bottom: 0;
margin-left: ;
font-family: Montserrat;
font-weight: 600;
font-size: 12px;
color: #ffffff;
}
.p-Home.TextBox357 {
bottom: 0;
margin-left: ;
font-family: Montserrat;
font-weight: 600;
font-size: 12px;
color: #a2a2a2;
}
.p-Home.TextBox358 {
bottom: 0;
margin-left: ;
font-family: Montserrat;
font-weight: 600;
font-size: 20px;
color: #ffffff;
width: 350px;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.TextBox356 {
bottom: 0;
margin-left: ;
font-family: Montserrat;
font-weight: 600;
font-size: 12px;
color: #ffffff;
}
.p-Home.Image78 {
padding-top: ;
padding-left: 5px;
margin-left: 5px;
}
.p-Home.Image62 {
width: 450px;
height: 550px;
}
.p-Home.Image59 {
width: 300px;
height: 550px;
}
.p-Home.Image60 {
width: 250px;
height: 275px;
}
.p-Home.Image61 {
width: 250px;
height: 265px;
}
.p-Home.Image65 {
width: 450px;
height: 450px;
outline-color: ;
background-color: #050505;
margin-left: 60px;
}
.p-Home.TextBox240 {
bottom: 0;
margin-left: 60px;
font-family: Open Sans;
font-weight: 700;
font-size: 46px;
padding-top: 10px;
width: ;
text-align: left;
word-wrap: break-word;
color: #000000;
line-height: 65px;
}
.p-Home.TextBox244 {
bottom: 0;
margin-left: 30px;
font-family: Open Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.TextBox249 {
bottom: 0;
margin-left: 30px;
font-family: Montserrat;
font-weight: 500;
font-size: 18px;
padding-top: 10px;
color: #a2a2a3;
}
.p-Home.TextBox246 {
color: #fff6f6;
background-color: #000000;
font-family: Open Sans;
text-align: center;
font-size: ;
width: 20px;
height: ;
margin-right: 30px;
font-weight: 700;
}
.p-Home.TextBox248 {
color: #fff6f6;
background-color: #000000;
font-family: Open Sans;
text-align: center;
font-size: ;
width: 20px;
height: ;
margin-right: 30px;
font-weight: 700;
}
.p-Home.TextBox251 {
bottom: 0;
margin-left: 30px;
font-family: Open Sans;
font-weight: 700;
font-size: 24px;
color: #ffffff;
}
.p-Home.TextBox256 {
bottom: 0;
margin-left: 30px;
font-family: Open Sans;
font-weight: 700;
font-size: 42px;
color: #ffffff;
padding-top: 5px;
padding-bottom: 5px;
}
.p-Home.TextBox276 {
bottom: 0;
margin-left: 30px;
font-family: Montserrat;
font-weight: 600;
font-size: 24px;
color: #ffffff;
padding-bottom: 10px;
border-bottom-width: 2px;
border-bottom-style: none;
border-bottom-color: #fcf6f699;
}
.p-Home.TextBox277 {
bottom: 0;
margin-left: ;
font-family: Montserrat;
font-weight: 600;
font-size: 24px;
color: #ffffff;
padding-bottom: 10px;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #fcf6f699;
}
.p-Home.TextBox257 {
bottom: 0;
margin-left: ;
font-family: Montserrat;
font-weight: 600;
font-size: 24px;
color: #ffffff;
padding-bottom: 10px;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #fcf6f699;
}
.p-Home.TextBox259 {
bottom: 0;
margin-left: 30px;
font-family: Montserrat;
font-weight: 600;
font-size: 24px;
color: #ffffff;
padding-bottom: 10px;
border-bottom-width: 2px;
border-bottom-style: none;
border-bottom-color: #fcf6f699;
}
.p-Home.TextBox299 {
bottom: 0;
margin-left: 100px;
font-family: Montserrat;
font-weight: 600;
font-size: 36px;
color: #ffffff;
padding-top: 10px;
}
.p-Home.TextBox301 {
bottom: 0;
margin-left: 100px;
font-family: Montserrat;
font-weight: 600;
font-size: 36px;
color: #ffffff;
padding-top: 10px;
}
.p-Home.Image67 {
padding-top: 20px;
padding-right: ;
margin-right: 200px;
margin-top: 20px;
}
.p-Home.TextBox318 {
bottom: 0;
margin-left: ;
font-family: Open Sans;
font-weight: 400;
font-size: 12px;
color: #ffffffcc;
margin-top: 10px;
}
.p-Home.TextBox322 {
bottom: 0;
margin-left: ;
font-family: Open Sans;
font-weight: 400;
font-size: 12px;
color: #ffffffcc;
margin-top: 10px;
}
.p-Home.TextBox427 {
bottom: 0;
margin-left: 30px;
font-family: Open Sans;
font-weight: 700;
font-size: 18px;
color: #ffffff;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.TextBox428 {
bottom: 0;
margin-left: 30px;
font-family: Open Sans;
font-weight: 700;
font-size: 18px;
color: #ffffff;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.TextBox429 {
bottom: 0;
margin-left: 30px;
font-family: Open Sans;
font-weight: 700;
font-size: 18px;
color: #ffffff;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.TextBox409 {
bottom: 0;
margin-left: 30px;
font-family: Open Sans;
font-weight: 700;
font-size: 18px;
color: #ffffff;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.TextBox410 {
bottom: 0;
margin-left: 30px;
font-family: Open Sans;
font-weight: 700;
font-size: 18px;
color: #ffffff;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.TextBox411 {
bottom: 0;
margin-left: 30px;
font-family: Open Sans;
font-weight: 700;
font-size: 18px;
color: #ffffff;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.TextBox412 {
bottom: 0;
margin-left: 30px;
font-family: Open Sans;
font-weight: 700;
font-size: 18px;
color: #ffffff;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.TextBox413 {
bottom: 0;
margin-left: 30px;
font-family: Open Sans;
font-weight: 700;
font-size: 18px;
color: #ffffff;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.TextBox414 {
bottom: 0;
margin-left: 30px;
font-family: Open Sans;
font-weight: 700;
font-size: 18px;
color: #ffffff;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.TextBox308 {
bottom: 0;
margin-left: 30px;
font-family: Montserrat;
font-weight: 600;
font-size: 24px;
color: #ffffff;
padding-bottom: 10px;
border-bottom-width: 2px;
border-bottom-style: none;
border-bottom-color: #fcf6f699;
}
.p-Home.TextBox309 {
bottom: 0;
margin-left: ;
font-family: Montserrat;
font-weight: 600;
font-size: 24px;
color: #ffffff;
padding-bottom: 10px;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #fcf6f699;
}
.p-Home.TextBox306 {
bottom: 0;
margin-left: ;
font-family: Montserrat;
font-weight: 600;
font-size: 24px;
color: #ffffff;
padding-bottom: 10px;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #fcf6f699;
}
.p-Home.TextBox307 {
bottom: 0;
margin-left: 30px;
font-family: Montserrat;
font-weight: 600;
font-size: 24px;
color: #ffffff;
padding-bottom: 10px;
border-bottom-width: 2px;
border-bottom-style: none;
border-bottom-color: #fcf6f699;
}
.p-Home.TextBox323 {
bottom: 0;
margin-left: 30px;
font-family: Montserrat;
font-weight: 600;
font-size: 24px;
color: #ffffff;
padding-bottom: 10px;
border-bottom-width: 2px;
border-bottom-style: none;
border-bottom-color: #fcf6f699;
}
.p-Home.TextBox324 {
bottom: 0;
margin-left: ;
font-family: Montserrat;
font-weight: 600;
font-size: 24px;
color: #ffffff;
padding-bottom: 10px;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #fcf6f699;
}
.p-Home.TextBox325 {
bottom: 0;
margin-left: ;
font-family: Montserrat;
font-weight: 600;
font-size: 24px;
color: #ffffff;
padding-bottom: 10px;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #fcf6f699;
}
.p-Home.TextBox326 {
bottom: 0;
margin-left: 30px;
font-family: Montserrat;
font-weight: 600;
font-size: 24px;
color: #ffffff;
padding-bottom: 10px;
border-bottom-width: 2px;
border-bottom-style: none;
border-bottom-color: #fcf6f699;
}
.p-Home.TextBox329 {
bottom: 0;
margin-left: 30px;
font-family: Montserrat;
font-weight: 600;
font-size: 24px;
color: #ffffff;
padding-bottom: 10px;
border-bottom-width: 2px;
border-bottom-style: none;
border-bottom-color: #fcf6f699;
}
.p-Home.TextBox330 {
bottom: 0;
margin-left: ;
font-family: Montserrat;
font-weight: 600;
font-size: 24px;
color: #ffffff;
padding-bottom: 10px;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #fcf6f699;
}
.p-Home.TextBox327 {
bottom: 0;
margin-left: ;
font-family: Montserrat;
font-weight: 600;
font-size: 24px;
color: #ffffff;
padding-bottom: 10px;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #fcf6f699;
}
.p-Home.TextBox328 {
bottom: 0;
margin-left: 30px;
font-family: Montserrat;
font-weight: 600;
font-size: 24px;
color: #ffffff;
padding-bottom: 10px;
border-bottom-width: 2px;
border-bottom-style: none;
border-bottom-color: #fcf6f699;
}
.p-Home.TextBox368 {
bottom: 0;
margin-left: 30px;
font-family: Montserrat;
font-weight: 500;
font-size: 24px;
padding-top: ;
}
.p-Home.TextBox364 {
bottom: 0;
margin-left: 30px;
font-family: Montserrat;
font-weight: 500;
font-size: 18px;
padding-top: 10px;
color: #a2a2a3;
}
.p-Home.TextBox365 {
bottom: 0;
margin-left: 30px;
font-family: Montserrat;
font-weight: 500;
font-size: 18px;
padding-top: 10px;
color: #a2a2a3;
}
.p-Home.TextBox376 {
bottom: 0;
margin-left: 30px;
font-family: Montserrat;
font-weight: 500;
font-size: 24px;
padding-top: 10px;
}
.p-Home.TextBox372 {
bottom: 0;
margin-left: 30px;
font-family: Montserrat;
font-weight: 500;
font-size: 18px;
padding-top: 10px;
color: #a2a2a3;
}
.p-Home.TextBox373 {
bottom: 0;
margin-left: 30px;
font-family: Montserrat;
font-weight: 500;
font-size: 18px;
padding-top: 10px;
color: #a2a2a3;
}
